<ul>
{%  for article in article_list %}
    <li>
        Article {{article.id}} <a href="/article/edit/?id={{article.id}}">Edit</a>
        <ul>
            {% for version in article.versions%}
               <li>
                   v{{version.version}} : "{{version.title}}"
                  <a href="/article/?id={{article.id}}&v={{version.version}}">View</a>
               </li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>