based on v{{article.version}}
<form method="POST" action="">
    {% csrf_token %}
    <input type="hidden" name="version_id" value="{{article.id}}"/>
    <textarea name="body">{{article.body}}</textarea>
    <br/>
    <input type="submit" value="Save"/>
</form>