<div>
    <h1> {{article.title}} </h1>
            <p> Category : {{article.attached_article.category}}</p> 
            <p> Submitter : {{article.submitter}}</p> 
            {% if article.published %}
                <p> Published by : {{article.published_by}}</p>
                <p> Publishing date : {{article.publishing_date}}</p>
            {% else %}
                <p> Article is not published. New version can be created</p>
            {% endif %}
            <p> Version : {{article.version}}</p> 
            <p> Title : {{article.title}}</p> 
            <p>  {{article.body}} </p> 
            <p>  Version created by {{article.creating_user.username}} ( {{article.creating_date}} )</p> 
</div>